<settings>
	<profiles>
		<!-- Profile with online repositories required by BRMS/BPMS -->
		<profile>
			<id>brms-bpms-online-profile</id>
			<repositories>
				<repository>
					<id>jboss-ga-repository</id>
					<url>http://maven.repository.redhat.com/techpreview/all</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>jboss-public-repository</id>
					<url>http://repository.jboss.org/nexus/content/repositories/public/
					</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>jboss-ga-plugin-repository</id>
					<url>http://maven.repository.redhat.com/techpreview/all</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>jboss-public-plugin-repository</id>
					<url>http://repository.jboss.org/nexus/content/repositories/public/
					</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>

	<activeProfiles>
		<!-- Activation of the BRMS/BPMS profile -->
		<activeProfile>brms-bpms-online-profile</activeProfile>
	</activeProfiles>
</settings>
